/.bundle/
/.rubocop-https---raw-githubusercontent-com-PublicHealthEngland-ndr-dev-support-master--rubocop-yml
/coverage/
/gemfiles/*.lock
/Gemfile.lock
/log/*.log
/pkg/
/test/dummy/db/*.sqlite3*
/test/dummy/db/*.sqlite3-journal*
/test/dummy/log/*.log
/test/dummy/tmp/
/test/dummy/.sass-cache
